In [8]:
import pandas as pd

In [37]:
df_ufo = pd.read_csv("./src/us_ufo_data.csv")
df_airport = pd.read_csv("./src/airports.csv")

# df_airport = df_airport.loc[df_airport["country"] == "USA"]

# df_ufo['description'] = df_ufo['description'].str.capitalize()
# df_ufo['country'] = df_ufo['country'].str.upper() + "A"

# df_ufo.to_csv('./src/us_ufo_data.csv', index=False)
# df_airport.to_csv('./src/airports_clean.csv', index=False)
df_ufo
# df_airport

,date,time,city,state,country,ufo_description,duration,description,latitude,longitude
0,10/10/1949,20:30,San Marcos,TX,USA,cylinder,45 minutes,This event took place in early fall around 194...,29.883056,-97.941111
1,10/10/1956,21:00,Edna,TX,USA,circle,1/2 hour,My older brother and twin sister were leaving ...,28.978333,-96.645833
2,10/10/1960,20:00,Kaneohe,HI,USA,light,15 minutes,As a marine 1st lt. flying an fj4b fighter/att...,21.418056,-157.803611
3,10/10/1961,19:00,Bristol,TN,USA,sphere,5 minutes,My father is now 89 my brother 52 the girl wit...,36.595000,-82.188889
4,10/10/1965,23:45,Norwalk,CT,USA,disk,20 minutes,A bright orange color changing to reddish colo...,41.117500,-73.408333
...,...,...,...,...,...,...,...,...,...,...
64901,9/9/2013,21:15,Nashville,TN,USA,light,10 minutes,Round from the distance/slowly changing colors...,36.165833,-86.784444
64902,9/9/2013,22:00,Boise,ID,USA,circle,20 minutes,Boise id spherical 20 min 10 red lights seen b...,43.613611,-116.202500
64903,9/9/2013,22:00,Napa,CA,USA,other,hour,Napa ufo,38.297222,-122.284444
64904,9/9/2013,22:20,Vienna,VA,USA,circle,5 seconds,Saw a five gold lit cicular craft moving fastl...,38.901111,-77.265556
64905,9/9/2013,23:00,Edmond,OK,USA,cigar,17 minutes,2 witnesses 2 miles apart red &amp; white elon...,35.652778,-97.477778